h1 {
  color: purple;
  font-size: 45px;
  width: 40%;
  padding-top: 60px;
}

.index-container {
  color: purple;
  float: right;
  font-size: 700px;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 0px;
}

h2 {
  color: purple;
  font-size: 45px;
  width: 40%;
  padding-top: 200px;
}

.about-container {
  color: purple;
  font-size: 20px;
  width: 40%;
  padding-top: 40px;
}

.container > img {
  float: right;
  padding-bottom: 200px;
}

body {
  background: #afe1af;
}
