{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>about</h1>
  <img src="{{ url_for('static', filename='images/me.JPG')}}" width="500" />
  <p class="about-container">
    I learned firsthand how intertwined business and technology are when I
    started my own clothing company in high school where I was able to gain
    valuable skills such as leadership, and design via adobe photoshop and web
    development via Squarespace. During my time at Berkeley, I have worked as a
    research intern for the undergraduate research apprentice program, marketing
    and design intern at Sparklist, consultant at Navisens Technology, and
    interned for the World Financial Group. My experiences have allowed me to
    gain strong problem-solving and communication skills as well as learning to
    work in a very fast-paced environment.
  </p>
</div>

{% endblock %}