{% extends "base.html" %} {% block content %}

 <div class="container">
    <h1>experience</h1>
  </div>
  <div class="textContainer">
    <h3 >Company 1</h3>
    <h4>CS Intern</h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2020</p>
    </div>
    <p>I used React to create an app to find the closest Restaurant</p>
  </div>
  <div class="textContainer">
    <h3 >Name of the company</h3>
    <h4>Title of the role</h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2020</p>
    </div>
    <p>Short description</p>
  </div>
  <div class="textContainer">
    <h3 >Name of the company</h3>
    <h4>Title of the role</h4>
    <div class="detailContainer">
      <h5>Year: </h5>
      <p>2020</p>
    </div>
    <p>Short description</p>
  </div>

{% endblock %}
