{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>experience</h1>
</div>
<div class="textContainer">
  <h3>Major League Hacking</h3>
  <h4>Production Engineering Fellow</h4>
  <div class="detailContainer">
    <h5>Jun. 2020 - Aug. 2021</h5>
  </div>
  <p>description</p>
</div>
<div class="textContainer">
  <h3>SparkList</h3>
  <h4>Marketing + Design Intern</h4>
  <div class="detailContainer">
    <h5>Feb. 2020 – May 2020</h5>
  </div>
  <p>
    Designed 2 core features of the app, messaging and enhanced profile views,
    using Figma and received customer feedback from 10 users to ensure the
    development of the best designs.
  </p>
</div>
<div class="textContainer">
  <h3>NAVISENS</h3>
  <h4>Strategy Consultant</h4>
  <div class="detailContainer">
    <h5>Feb. 2020 – May 2020</h5>
  </div>
  <p>
    Developed an enterprise sales marketing tool for a hyper-accurate location
    technology startup.
  </p>
</div>

{% endblock %}
