{% extends "base.html" %} {% block content %}

<div class="container">
  <h1>projects</h1>
</div>
<div class="textContainer">
  <h3>Personal Website</h3>
  <div class="detailContainer">
    <h5>June 2020</h5>
  </div>
  <p>Developed a personal portfolio using Flask, Python, HTML, and CSS</p>
  <h5>Technologies Used</h5>
  <div class="techContainer">
    <p>Python</p>
    <p>Flask</p>
  </div>
  <input
    type="button"
    onclick="location.href='https://github.com/MLH-Fellowship/Dakshina-Gina';"
    value="Check it out"
  />
</div>
<div class="textContainer">
  <h3>Project 2</h3>
  <div class="detailContainer">
    <h5>Month and Year</h5>
  </div>

  <p>This is a short description of my project!</p>
  <h5>Technologies Used</h5>
  <div class="techContainer">
    <p>Python</p>
    <p>Flask</p>
  </div>
  <input
    type="button"
    onclick="location.href='https://github.com/MLH-Fellowship/Dakshina-Gina';"
    value="Check it out"
  />
</div>

{% endblock %}
