{% extends "base.html" %} {% block content %}
<div class="container">
      <h1>projects</h1>
    </div>
    <div class="textContainer">
      <h3 >Project 1</h3>
      <div class="detailContainer">
        <h5>Year: </h5>
        <p>2020</p>
      </div>
      <p>This is a short description of my project!</p>
      <h5>Technologies I used:</h5>
      <div class="techContainer">
        <p>Python</p>
        <p>Flask</p>
      </div>
      <input type="button" onclick="location.href='https://github.com/MLH-Fellowship/Dakshina-Gina';" value="Check it out">

    </div>
    <div class="textContainer">
      <h3 >Project 1</h3>
      <div class="detailContainer">
        <h5>Year:</h5>
        <p>2020</p>
      </div>

      <p>This is a short description of my project!</p>
      <h5>Technologies I used:</h5>
      <div class="techContainer">
        <p>Python</p>
        <p>Flask</p>
      </div>
      <input type="button" onclick="location.href='https://github.com/MLH-Fellowship/Dakshina-Gina';" value="Check it out">

    </div>
{% endblock %}

