{% extends "base.html" %} {% block content %}

<div class="container">
    <h1 class="subtitle">Login</h1>
</div>
<div class="form">
    <form action="" method="post">
        <label for="fname">Username</label>
        <input type="text" id="username" name="username" placeholder="username">
        <label for="lname">Password</label>
        <input type="password" id="password" name="password">
        <input class="submitButton" type="submit" value="Submit">
    </form>
</div>




{% endblock %}